
p.Normal{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:10.0pt;
     font-family:Times New Roman;
}
h1{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:12.0pt;
     margin-left:0in;
     border-bottom: solid #000000 2.25pt;
     padding: 1.0pt 0in 1.0pt 0in;
     font-size:24.0pt;
     font-family:Arial;
     font-weight:bold;
}
h2{
     margin-top:9.0pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:0in;
     border-bottom: solid #000000 2.25pt;
     padding: 1.0pt 0in 1.0pt 0in;
     font-size:20.0pt;
     font-family:Arial;
     font-weight:bold;
}
h4{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:14.0pt;
     font-family:Arial;
     font-weight:normal;
}
p.Index1{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:11.0pt;
     text-indent:-11.0pt;
     font-size:9.0pt;
     font-family:Times New Roman;
}
p.Index4{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:.75in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.Index6{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:1.25in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.Toc4{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:33.0pt;
     font-size:12.0pt;
     font-family:Times New Roman;
}
p.Toc8{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:77.0pt;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.Header{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.Footer{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:10.0pt;
     font-family:Times New Roman;
}
p.IndexHeading{
     margin-top:15.1pt;
     margin-right:0in;
     margin-bottom:6.1pt;
     margin-left:.5in;
     text-indent:-.5in;
     border:none;
     padding:0in;
     font-size:11.0pt;
     font-family:Arial;
     font-weight:bold;
}
p.List{
     margin-top:5.75pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:1.75in;
     text-indent:-.25in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.BodyText{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:36.0pt;
     font-family:Arial;
     color:white;
     text-shadow:auto;
     font-weight:bold;
}
p.PlainText{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:11.0pt;
     font-family:Courier New;
}
p.Body{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:6.0pt;
     margin-left:1.25in;
     text-indent:-1.25in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
span.InlineFunctionDescTitle{
     font-weight:bold;
}
span.InlineFunctionNames{
     font-weight:bold;
}
p.TableSpecial{
     margin-top:0in;
     margin-right:1.45pt;
     margin-bottom:.0001pt;
     margin-left:1.45pt;
     font-size:7.0pt;
     font-family:Arial;
}
p.SourceCode{
     margin:0in;
     margin-bottom:.0001pt;
     background:#E5E5E5;
     font-size:8.0pt;
     font-family:Courier New;
}
p.sectionHeading{
     margin-top:6.0pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:0in;
     font-size:20.0pt;
     font-family:Arial;
}
span.InlineCommentText{
}
p.NoteText{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:11.0pt;
     font-family:Arial;
}
p.TableText{
     margin-top:0in;
     margin-right:.05in;
     margin-bottom:6.0pt;
     margin-left:.05in;
     font-size:9.0pt;
     font-family:Arial;
}
p.BodyTable{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:6.0pt;
     margin-left:0in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.BodyBullet{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:6.0pt;
     margin-left:1.45in;
     text-indent:-.2in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.PageHeaderLeft{
     margin:0in;
     margin-bottom:.0001pt;
     font-size:11.0pt;
     font-family:Arial;
     font-weight:bold;
}
p.BodyIndent{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:6.0pt;
     margin-left:2.25in;
     text-indent:-99.0pt;
     font-size:11.0pt;
     font-family:Times New Roman;
}
span.InlinedBaseExpression{
}
p.UsageLine1{
     margin-top:5.75pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:1.25in;
     text-indent:-1.25in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
span.InlineLanguageConstruct{
     font-weight:bold;
}
span.BoldNormal{
     font-weight:bold;
}
p.UsageLine2{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:1.25in;
     text-align:right;
     text-indent:-1.25in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
p.Usage{
     margin-top:9.5pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:1.25in;
     text-indent:-1.25in;
     font-size:11.0pt;
     font-family:Arial;
     font-weight:bold;
}
span.SourceNoShade{
}
p.NoteTextShaded{
     margin-top:0in;
     margin-right:0in;
     margin-bottom:6.0pt;
     margin-left:0in;
     background:silver;
     font-size:11.0pt;
     font-family:Arial;
}
span.InlineLanguageType{
     font-weight:bold;
}
p.FunctionTitle{
     margin-top:5.75pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:0in;
     border:none;
     padding:0in;
     font-size:20.0pt;
     font-family:Arial;
     font-weight:bold;
}
p.TableSpecialHeading{
     margin-top:0in;
     margin-right:1.45pt;
     margin-bottom:.0001pt;
     margin-left:1.45pt;
     font-size:9.0pt;
     font-family:Arial;
     font-weight:bold;
}
span.InlineMenuOptions{
     font-variant:small-caps;
     font-weight:bold;
}
p.TableHeading{
     margin-top:3.0pt;
     margin-right:.05in;
     margin-bottom:3.0pt;
     margin-left:.05in;
     font-size:11.0pt;
     font-family:Arial;
     font-weight:bold;
}
p.FigureDesc{
     margin-top:0in;
     margin-right:.05in;
     margin-bottom:6.0pt;
     margin-left:.05in;
     font-size:11.0pt;
     font-family:Arial;
}
p.PageHeaderRight{
     margin:0in;
     margin-bottom:.0001pt;
     text-align:right;
     font-size:11.0pt;
     font-family:Arial;
     font-weight:bold;
}
p.ListTable{
     margin-top:5.75pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:.5in;
     text-indent:-.25in;
     font-size:11.0pt;
     font-family:Times New Roman;
}
span.InlinedBaseFunction{
     text-transform:uppercase;
}
p.CommentText{
     margin:0in;
     margin-bottom:.0001pt;
     text-align:right;
     font-size:9.0pt;
     font-family:Arial;
}
p.TableTitle{
     margin-top:6.0pt;
     margin-right:0in;
     margin-bottom:.0001pt;
     margin-left:0in;
     font-size:14.0pt;
     font-family:Arial;
     font-weight:bold;
}
lfo1{
     margin-left:.3in;
     text-indent:-.3in;
     font-family:Symbol;
}
lfo2{
     margin-left:1.45in;
     text-indent:-.2in;
     font-family:Arial;
}
lfo3{
     margin-left:1.75in;
     text-indent:-.5in;
     font-family:Symbol;
}
lfo4{
     margin-left:1.65in;
     text-indent:-.4in;
     font-family:Symbol;
}
lfo5{
     margin-left:.2in;
     text-indent:-.2in;
     font-family:Symbol;
}
lfo8{
     margin-left:.25in;
     text-indent:-.25in;
}
lfo17{
     margin-left:.25in;
     text-indent:-.25in;
}
lfo45{
     margin-left:.25in;
     text-indent:-.25in;
}
lfo47{
     margin-left:.25in;
     text-indent:-.25in;
}
OL, UL {
margin-top: 0px;
margin-bottom: 0px;
}
